:host{
    display: flex;
    padding: 22px;
    justify-content: space-evenly;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.heading > span{
    width: calc(100% - 16px);
}


.label{
    opacity: 0.75;
}

ul{
    border: 1px solid;
}

.price{
    font-size: 24px;
}

.price .value{
    font-weight: bold;
}

.last-price{
    opacity: 0.6;
    font-size: 14px;
    padding-bottom: 5px;
}

mat-icon{
    font-size: 40px;
    position: relative;
    top: 13px;
}

mat-icon.green{
    color: green;
}

mat-icon.red{
    color: red;
}

.daily-change{
    font-size: 20px;
    padding-bottom: 10px;
}

.m-cap{
    padding: 10px 0 6px 25px;
    background: rgb(226, 226, 226);
    color: black;
    margin: 1px -24px 0 -24px;
    border-top: 1px solid;
}

.up{
    color: green;
}
.down{
    color: red;
}

.crypto-logo{
    display: inline-block;
    background-image: url(../../assets/cryptoicons.png);
    -webkit-background-size: 190px 160px;
    -moz-background-size: 190px 160px;
    background-size: 190px 160px;
}

.btc-logo-sprite {
    background-position: -64px -144px;
    width: 16px;
    height: 16px;
}

.mat-card{
    padding-bottom: 0px;
    width: 215px;
}

.mat-card > div {
    
}

.s-s-zencash {
    background-position: 0 0;
    width: 16px;
    height: 16px;
}

.s-s-zcoin {
    background-position: -16px 0;
    width: 16px;
    height: 14px;
}

.s-s-zcash {
    background-position: 0 -16px;
    width: 16px;
    height: 16px;
}

.s-s-waves {
    background-position: -16px -16px;
    width: 16px;
    height: 16px;
}

.s-s-walton {
    background-position: -32px 0;
    width: 16px;
    height: 16px;
}

.s-s-vertcoin {
    background-position: -32px -16px;
    width: 16px;
    height: 16px;
}

.s-s-veritaseum {
    background-position: 0 -32px;
    width: 16px;
    height: 16px;
}

.s-s-verge {
    background-position: -16px -32px;
    width: 16px;
    height: 16px;
}

.s-s-vechain {
    background-position: -32px -32px;
    width: 16px;
    height: 16px;
}

.s-s-ubiq {
    background-position: -48px 0;
    width: 16px;
    height: 16px;
}

.s-s-tron {
    background-position: -48px -16px;
    width: 14px;
    height: 16px;
}

.s-s-tether {
    background-position: -48px -32px;
    width: 16px;
    height: 16px;
}

.s-s-tenx {
    background-position: 0 -48px;
    width: 16px;
    height: 16px;
}

.s-s-taas {
    background-position: -16px -48px;
    width: 16px;
    height: 16px;
}

.s-s-syscoin {
    background-position: -32px -48px;
    width: 16px;
    height: 14px;
}

.s-s-stratis {
    background-position: -64px 0;
    width: 16px;
    height: 16px;
}

.s-s-storj {
    background-position: -64px -16px;
    width: 16px;
    height: 16px;
}

.s-s-steem {
    background-position: -64px -32px;
    width: 16px;
    height: 16px;
}

.s-s-status {
    background-position: -64px -48px;
    width: 16px;
    height: 16px;
}

.s-s-smartcash {
    background-position: 0 -64px;
    width: 16px;
    height: 16px;
}

.s-s-singulardtv {
    background-position: -48px -48px;
    width: 16px;
    height: 14px;
}

.s-s-siacoin {
    background-position: -16px -64px;
    width: 16px;
    height: 16px;
}

.s-s-salt {
    background-position: -32px -64px;
    width: 16px;
    height: 16px;
}

.s-s-rlc {
    background-position: -48px -64px;
    width: 16px;
    height: 16px;
}

.s-s-ripple {
    background-position: -64px -64px;
    width: 16px;
    height: 16px;
}

.s-s-qtum {
    background-position: -80px 0;
    width: 16px;
    height: 16px;
}

.s-s-pura {
    background-position: -80px -16px;
    width: 16px;
    height: 16px;
}

.s-s-populous {
    background-position: -80px -32px;
    width: 16px;
    height: 16px;
}

.s-s-pivx {
    background-position: -80px -48px;
    width: 16px;
    height: 16px;
}

.s-s-particl {
    background-position: -80px -64px;
    width: 16px;
    height: 16px;
}

.s-s-omisego {
    background-position: 0 -80px;
    width: 16px;
    height: 16px;
}

.s-s-nxt {
    background-position: -16px -80px;
    width: 16px;
    height: 16px;
}

.s-s-nexus {
    background-position: -32px -80px;
    width: 16px;
    height: 16px;
}

.s-s-neo {
    background-position: -48px -80px;
    width: 16px;
    height: 16px;
}

.s-s-nem {
    background-position: -64px -80px;
    width: 16px;
    height: 16px;
}

.s-s-neblio {
    background-position: -80px -80px;
    width: 16px;
    height: 16px;
}

.s-s-nav-coin {
    background-position: -96px 0;
    width: 16px;
    height: 14px;
}

.s-s-monero {
    background-position: -96px -14px;
    width: 16px;
    height: 16px;
}

.s-s-monacoin {
    background-position: -96px -30px;
    width: 16px;
    height: 16px;
}

.s-s-monaco {
    background-position: -96px -46px;
    width: 16px;
    height: 16px;
}

.s-s-metaverse {
    background-position: -96px -62px;
    width: 15px;
    height: 16px;
}

.s-s-metal {
    background-position: -96px -78px;
    width: 16px;
    height: 16px;
}

.s-s-mcap {
    background-position: 0 -96px;
    width: 16px;
    height: 16px;
}

.s-s-maidsafecoin {
    background-position: -16px -96px;
    width: 16px;
    height: 16px;
}

.s-s-lykke {
    background-position: -32px -96px;
    width: 16px;
    height: 16px;
}

.s-s-loopring {
    background-position: -48px -96px;
    width: 16px;
    height: 16px;
}

.s-s-litecoin {
    background-position: -64px -96px;
    width: 16px;
    height: 16px;
}

.s-s-lisk {
    background-position: -80px -96px;
    width: 14px;
    height: 16px;
}

.s-s-kyber-network {
    background-position: -94px -96px;
    width: 14px;
    height: 16px;
}

.s-s-kucoin {
    background-position: -112px 0;
    width: 16px;
    height: 16px;
}

.s-s-komodo {
    background-position: -112px -16px;
    width: 16px;
    height: 16px;
}

.s-s-iota {
    background-position: -112px -32px;
    width: 16px;
    height: 16px;
}

.s-s-iconomi {
    background-position: -112px -48px;
    width: 16px;
    height: 16px;
}

.s-s-hshare {
    background-position: -112px -64px;
    width: 16px;
    height: 14px;
}

.s-s-gxshares {
    background-position: -112px -78px;
    width: 16px;
    height: 16px;
}

.s-s-groestlcoin {
    background-position: -112px -94px;
    width: 16px;
    height: 16px;
}

.s-s-golem-network-tokens {
    background-position: 0 -112px;
    width: 12px;
    height: 16px;
}

.s-s-gnosis-gno {
    background-position: -12px -112px;
    width: 16px;
    height: 12px;
}

.s-s-gas {
    background-position: -128px 0;
    width: 16px;
    height: 16px;
}

.s-s-gamecredits {
    background-position: -128px -16px;
    width: 16px;
    height: 16px;
}

.s-s-funfair {
    background-position: -128px -32px;
    width: 16px;
    height: 16px;
}

.s-s-faircoin {
    background-position: -128px -48px;
    width: 16px;
    height: 16px;
}

.s-s-factom {
    background-position: -128px -64px;
    width: 16px;
    height: 16px;
}

.s-s-ethereum {
    background-position: -128px -80px;
    width: 14px;
    height: 16px;
}

.s-s-ethereum-classic {
    background-position: -128px -96px;
    width: 16px;
    height: 16px;
}

.s-s-eos {
    background-position: -128px -112px;
    width: 16px;
    height: 16px;
}

.s-s-edgeless {
    background-position: 0 -128px;
    width: 16px;
    height: 16px;
}

.s-s-dogecoin {
    background-position: -16px -128px;
    width: 16px;
    height: 16px;
}

.s-s-digixdao {
    background-position: -32px -128px;
    width: 16px;
    height: 16px;
}

.s-s-digibyte {
    background-position: -48px -128px;
    width: 16px;
    height: 16px;
}

.s-s-decred {
    background-position: -64px -128px;
    width: 16px;
    height: 16px;
}

.s-s-dash {
    background-position: -96px -128px;
    width: 16px;
    height: 14px;
}

.s-s-civic {
    background-position: -144px 0;
    width: 16px;
    height: 16px;
}

.s-s-chainlink {
    background-position: -144px -16px;
    width: 16px;
    height: 16px;
}

.s-s-cardano {
    background-position: -144px -32px;
    width: 16px;
    height: 16px;
}

.s-s-bytom {
    background-position: -144px -48px;
    width: 16px;
    height: 16px;
}

.s-s-bytecoin-bcn {
    background-position: -144px -64px;
    width: 16px;
    height: 16px;
}

.s-s-byteball {
    background-position: -144px -80px;
    width: 16px;
    height: 16px;
}

.s-s-blocknet {
    background-position: -144px -96px;
    width: 16px;
    height: 16px;
}

.s-s-bitshares {
    background-position: -144px -112px;
    width: 16px;
    height: 16px;
}

.s-s-bitqy {
    background-position: -144px -128px;
    width: 16px;
    height: 16px;
}

.s-s-bitquence {
    background-position: 0 -144px;
    width: 16px;
    height: 16px;
}

.s-s-bitdeal {
    background-position: -16px -144px;
    width: 16px;
    height: 16px;
}

.s-s-bitcore {
    background-position: -32px -144px;
    width: 16px;
    height: 16px;
}

.s-s-bitconnect {
    background-position: -48px -144px;
    width: 16px;
    height: 16px;
}

.s-s-bitcoindark {
    background-position: -64px -144px;
    width: 16px;
    height: 16px;
}

.s-s-bitcoin {
    background-position: -64px -144px;
    width: 16px;
    height: 16px;
}

.s-s-bitcoin-cash {
    background-position: -80px -144px;
    width: 16px;
    height: 16px;
}

.s-s-binance-coin {
    background-position: -112px -144px;
    width: 16px;
    height: 16px;
}

.s-s-basic-attention-token {
    background-position: -128px -144px;
    width: 16px;
    height: 16px;
}

.s-s-bancor {
    background-position: -144px -144px;
    width: 16px;
    height: 16px;
}

.s-s-augur {
    background-position: -160px 0;
    width: 16px;
    height: 16px;
}

.s-s-attention-token-of-media {
    background-position: -160px -16px;
    width: 14px;
    height: 16px;
}

.s-s-ark {
    background-position: -160px -32px;
    width: 16px;
    height: 15px;
}

.s-s-ardor {
    background-position: -160px -47px;
    width: 16px;
    height: 16px;
}

.s-s-aragon {
    background-position: -160px -63px;
    width: 16px;
    height: 16px;
}

.s-s-aeternity {
    background-position: -160px -79px;
    width: 16px;
    height: 12px;
}

.s-s-adx-net {
    background-position: -160px -91px;
    width: 10px;
    height: 16px;
}

.s-s-0x {
    background-position: -160px -107px;
    width: 16px;
    height: 16px;
}

.s-s-stellar {
    background-position: -160px -123px;
    width: 15px;
    height: 15px;
}