<div class="app-container">
  <h1 class="app-header"> 
    <a  class="no-style-href mylogo" href="https://www.youtube.com/knowinminutes" target="_blank">
      <img src="../assets/knowinmins.PNG"/>
    </a>
    <span> Track Your Cryptocurrencies <span class="live-tag">LIVE</span> </span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="drop-down-icon">
      <!-- <mat-icon>more_vert</mat-icon> -->
      <span matTooltip="Choose cryptos based on your interest">
        <mat-icon>arrow_drop_down</mat-icon>
      </span>
    </button>
  </h1> 
  <ul class="header-separator"></ul>
  <mat-menu #menu="matMenu">
      <mat-checkbox (click)="$event.stopPropagation()" *ngFor="let cryptoConstant of cryptoConstants">
        {{cryptoConstant.name}}
      </mat-checkbox>
  </mat-menu>
  <div class="elements-holder">
    <a class="no-style-href" href="{{cryptoConstant?.site}}" target="_blank"
    *ngFor="let cryptoConstant of cryptoConstants">
      <app-coin-element [cryptoDetail] = "cryptoConstant"></app-coin-element>
    </a> 
  </div>
</div>
