.app-container{
    height: 100%;
    padding: 40px;
    padding-top: 20px;
    background: #f1f1f1;
    color: #313131;
    position: relative;
}

.app-header{
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mylogo img{
    width: 50px;
    margin-bottom: -20px;
    position: relative;
    top: -10px;
}

.live-tag{
    color: white;
    background: red;
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
    animation-name: color-change;  
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes color-change {
    from{
        background: red;
    }
    to{
        background-color: rgba(255, 0, 0, 0.5);
    }
}

.drop-down-icon .mat-icon{
    font-size: 75px;
    position: relative;
    left: -25px;
    top: 8px;
}

.elements-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
}

.no-style-href{
    color: white;
    text-decoration: none;
}

ul.header-separator{
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: calc(100% + 78px);
    margin-left: -40px;
}