<div class="app-container">
  <h1 class="app-header"> 
    <a  class="no-style-href mylogo" href="https://www.youtube.com/knowinminutes" target="_blank">
      <img src="./assets/knowinmins.png"/>
    </a>
    <span> Track Your Cryptocurrencies <span class="live-tag">LIVE</span> </span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="drop-down-icon">
      <!-- <mat-icon>more_vert</mat-icon> -->
      <span matTooltip="Choose cryptos based on your interest">
        <mat-icon>arrow_drop_down</mat-icon>
      </span>
    </button>
  </h1> 
  <ul class="header-separator"></ul>
  <mat-menu #menu="matMenu">
      <mat-checkbox (click)="$event.stopPropagation()" *ngFor="let cryptoConstant of cryptoConstants">
        {{cryptoConstant.name}}
      </mat-checkbox>
  </mat-menu>
  <div class="elements-holder">
    <a class="no-style-href" href="{{cryptoConstant?.site}}" target="_blank"
    *ngFor="let cryptoConstant of cryptoConstants">
      <app-coin-element [cryptoDetail] = "cryptoConstant"></app-coin-element>
    </a> 
  </div>
</div>

<footer>
  <div style="font-size:16px;margin:0 auto;width:300px" class="blockchain-btn"
     data-address="3QyB4bCX9QQTkcksMNprUVqcL5zLMXGTbG"
     data-shared="false">
    <div class="blockchain stage-begin flexify">
       <span>Support us</span> <img src="https://blockchain.info/Resources/buttons/donate_64.png"/>
    </div>
    <div class="blockchain stage-loading" style="text-align:center">
        <img src="https://blockchain.info/Resources/loading-large.gif"/>
    </div>
    <div class="blockchain stage-ready">
         <p align="center">Please Donate To Bitcoin Address: <b>[[address]]</b></p>
         <p align="center" class="qr-code"></p>
    </div>
    <div class="blockchain stage-paid">
         Donation of <b>[[value]] BTC</b> Received. Thank You.
    </div>
    <div class="blockchain stage-error">
        <font color="red">[[error]]</font>
    </div>
  </div>
</footer>